@import 'common';

#main-page{
  margin-left: $side-bar-open-width;
  padding: 1rem;
}

#side-bar{
  width: $side-bar-open-width;
  height: 100vh;
  position: fixed;
  background-color: $main-color ;
  .side-bar{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    &>div{
      width: 100%;
    }
    .top-logo-holder{
      width: 100%;
      padding: 1rem;
      text-align: center;
      .dimofinf-logo{
        background-image: url("../img/logo_white.png");
        background-size: cover;
        display: inline-block;
        width: 195px;
        height: 65px;
      }
    }
    ul{
      list-style: none;
      width: 100%;
      padding: 0;
      margin: 0;
      border-bottom: white 1px solid;
    }
    .user-widget-holder{
      margin-top: auto;
    }
  }

  a{
    color:$light-color;
    &.active,&:hover{
      background-color: $accent-color;
    }
  }
}


.side-icon{
  width: 2rem;
  height: 1.5rem;
  display: inline-block;
  text-align: center;
}

